@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* -----------------Share Styles----------------------- */
.display-none {
  display: none;
}
.display-flex {
  display: flex;
}
.primary-btn {
  background-color: #ff900e;
  color: white;
  padding: 20px 24px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
}
/* color */
.primary {
  color: #ff900e;
}
.dark01 {
  color: #131313;
}
.dark02 {
  color: #424242;
}
.dark03 {
  color: #727272;
}
.dark04 {
  color: #a1a1a1;
}

/* -----------Header-------------- */

.header {
  background: rgba(255, 144, 14, 0.1);
}
/* navbar */
.navbar,
.banner-container {
  max-width: 1440px;
  margin: 0px auto;
}

.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand-logo {
  font-weight: bold;
  font-size: 2.9rem;
}

.navbar-link {
  gap: 30px;
  list-style: none;
}
.navbar-link li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #424242;
}
/* banner */
.banner-container {
  padding-bottom: 4px;
}
.banner-content {
  max-width: 862px;
  text-align: center;
  margin: 0px auto;
}
.banner-title {
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 0px;
}
.banner-image {
  max-width: 1440px;
  max-height: 700px;
  margin: 45px 0px;
}
.banner-image img {
  width: 100%;
  height: 100%;
}

/* ------------------ Main--------------------- */

.main {
  max-width: 1440px;
  margin: 0px auto;
}

/* ----features---- */
.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.8rem;
  align-items: center;
  margin-top: 5.3rem;
}
.features-container01 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.features-container01 > img {
  width: 100%;
  height: auto;
}

.features-container02 {
  max-width: 537px;
}
.features-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0px;
}

/* -------features-detailes----------- */

.features-detailes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 130px;
  gap: 20px;
  margin-bottom: 130px;
}
.features-detailes-container01 {
  max-width: 586px;
}
.features-detailes-title {
  font-size: 2.8rem;
  padding: 0px 92px 0px 26px;
  border-left: 5px solid #ff900e;
}
.features-item {
  padding: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-bottom: 20px;
}
.features-item-title {
  font-weight: 600;
  font-size: 20px;
}
.features-detailes-container02 > img {
  width: 100%;
  height: 100%;
}
.btn-expriance {
  background-color: #ff900e;
  color: white;
  padding: 2.8rem 2.7rem;
  max-width: 342px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  margin-top: -185px;
  margin-left: -92px;
}
.btn-expriance span {
  font-size: 4rem;
  font-weight: bold;
}

/* ------------facts------------- */
.fact-title {
  font-weight: bold;
  font-size: 2.8rem;
  color: #131313;
  margin-bottom: 0px;
}
.fact-description {
  max-width: 542px;
  color: #727272;
  margin-bottom: 95px;
}
.fact-items {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  margin-bottom: 130px;
}
.fact-item {
  border: 1px solid #ff900e;
  width: 241.83px;
  height: 241.83px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* ------sponspors------ */
.sponspors-detailes {
  display: flex;
  justify-content: center;
  text-align: center;
}
.sponspors-title {
  font-weight: bold;
  font-size: 2.8rem;
  color: #131313;
  margin-bottom: 0px;
}
.sponspors-description {
  max-width: 542px;
  color: #727272;
  margin-bottom: 95px;
}

.sponspors-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}
.sponspors-name img {
  filter: grayscale(100%);
}

/* ---------------------Footer-------------------------- */

.footer {
  max-width: 1440px;
  height: 100px;
  background-color: #fff4e7;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
.footer-description {
  font-size: 1.25rem;
  color: #424242;
}

@media screen and (max-width: 576px) {
  /*-------------- header----------- */
  .brand-logo {
    color: #ff900e;
  }
  .navbar {
    flex-direction: column;
  }
  .navbar-link {
    padding-left: 0px;
  }
  .banner-container {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 45px;
  }
  .banner-image {
    margin: 0px 0px;
  }

  /* ------------Main--------------- */

  /* ---features--- */

  .features {
    grid-template-columns: repeat(1, 1fr);
  }
  .features-detailes {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 80px;
  }
  .btn-expriance {
    margin-left: 0px;
  }

  /* fact */
  .fact-items {
    flex-wrap: wrap;
    padding: 0px;
    row-gap: 30px;
  }

  /* sponspors */
  .sponspors-name {
    flex-wrap: wrap;
    row-gap: 30px;
  }
}
@media screen and (min-width: 576px) and (max-width: 720px) {
  .brand-logo {
    color: #ff900e;
  }
  .navbar {
    flex-direction: column;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .features {
    grid-template-columns: repeat(1, 1fr);
  }
  .features-container01 {
    grid-row: 2;
  }
  .features-container02 {
    text-align: center;
    max-width: 100%;
    margin-bottom: 50px;
  }

  /* features-detailes */

  .features-detailes {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 80px;
  }
  .btn-expriance {
    margin-left: 0px;
  }
  .features-detailes-container02 > img {
    width: 100%;
  }
  .features-detailes-container01 {
    margin: 0px auto;
  }
  .features-detailes-container02 {
  }
  /* fact */
  .fact-items {
    flex-wrap: wrap;
    padding: 0px;
    row-gap: 30px;
  }

  /* sponspors */
  .sponspors-name {
    flex-wrap: wrap;
    row-gap: 30px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1395px) {
  .btn-expriance {
    margin-left: 0px;
  }
}
